<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>HomePage</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <h1>Homepage</h1>
  {{>nav}}
  <a href="trainings.html">Trainings</a>
  <br/>Tralala
  <div class="box-rounded">
    Hello rounded world
  </div>
  Created by  {{author}}
</body>
</html>
