<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Trainings</title>
</head>
<body>
  <h1>this is my trainings</h1>
  {{>nav}}
  <a href="index.html">Homepage</a>
</body>
</html>
